*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jumbotron{
    height: 680px;
    background: url(../public/wall.png);   
    text-align: center;
    align-items: center;
}
.jumbotron input{    
    align-items: center;
}
.input{
    align-items: center;
}